Target
/Dryves/target/
Dryves/lib/unknown/binary/mysql-connector-java-5.1.18-bin/SNAPSHOT/mysql-connector-java-5.1.18-bin-SNAPSHOT.jar
/Oefententamen/nbproject/private/
/MetroDryves/target/
/DryvesMetro/target/
/DryvesV2/nbproject/private/
/DryvesV2/build/
/DryvesV2/dist/
DryvesV2/nbproject/**
DryvesV2/nbproject/project.xml
DryvesV2/nbproject/project.xml
/Dryves_1/nbproject/private/
/Dryves_2/nbproject/private/
DryvesV2/.DS_Store
/Dryves werkende login/nbproject/private/