/* 
    Document   : mobileMetro
    Created on : 11-mei-2013, 13:48:02
    Author     : Willem van Ess
    Description:
        Purpose of the stylesheet follows.
*/

html, body{
    min-height: 100%;
    background-size: cover;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-color:transparent;
    padding:0px;
    min-height:100%;
    font-family:eras;
    color:#a0a0a0;
    text-align: center;
}


input {
width:250px;
font-family:arial;
font-size:22px;
color:#bababa;
border-radius: 8px;
border-style:solid;
border-color:#aaa7a7;
border-width:1px;
padding: 8px;
margin: 0px 0px 30px 0px;
}

.container {
    display: inline-block;
    margin: 0px auto 0px auto;
}

.tileHeader {
    margin: 10px;
    text-transform: uppercase;
    font-size: 22px;
    text-shadow: #000 1px 1px;
}

#logoHolder {
    width: 320px;
    height: 100px;
    float: left;
    margin: 5px;
    background-color: #080;
}

.logo {
    width: 320px;
    height: 100px;
    background-color: #080;
}

.icon {
    width: 90px;
    height: 90px;
    background-color: #080;
    margin-top: 5px;
}

#bigTile {
    width: 320px;
    height: 320px;
    background-color: #080;
    float: left;
    margin: 5px;
}

#halfTile {
    width: 320px;
    height: 100px;
    background-color: #080;
    float: left;
    margin: 5px;
}

#smallTile {
    width: 100px;
    height: 100px;
    background-color: #080;
    float: left;
    margin: 5px;
    clear: right;
    text-align: center;
    font-weight: bold;
    word-wrap: break-word;
    color: #fff;
}

/*#largestTile {
    width: 320px;
    height: 320px;
    background-color: #080;
    float: left;
    margin: 5px;
    word-wrap: break-word;
    overflow: auto;
}*/

table {
    width: auto;
    max-height: 265px;
}

tr {
    width: 265px;
    border: solid #000;
}

td {

    font-size: 12px;
    width: 130px;
    color: #ccc;
    word-wrap: break-word;
}

th {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

#recieved {
    margin: 5px;
    width: 130px;
    height: auto;
    background-color: #880;
    color: #fff;
    border: solid #000;
    border-radius: 8px;
    float: right;
    clear: left;
}

#sent {
    margin: 5px;
    width: 130px;
    height: auto;
    background-color: #46a546;
    color: #fff;
    border: solid #000;
    border-radius: 8px;
    float: left;
    clear: right;
}